{% extends "../store/base.html" %}
{% load static %}

{% block title %}: Cart Summary{% endblock %}

{% block main %}
	<div class="container">
    <h1 class="page-title">Shopping cart</h1>
    <div class="cart">
    {% for item in cart %}
      <div class="cart-item">
        <div class="cart-item__image">
          <img src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}" />
        </div>
        <div class="cart-item__info">
          <h2 class="cart-item__title">
            <a href="{% url 'store:product_details' slug=item.product.product_slug %}">
              {{ item.product.product_name }}
            </a>
          </h2>
          <div class="cart-item__control-block">
            <div class="cart-item__price-block">
              <p class="cart-item__price price">
                <span class="price-currency">$</span>
                <span class="price-value">{{ item.product.price }}</span>
              </p>
              <input class="qty" type="number" value="{{ item.qty }}" />
              <p class="cart-item__price price total-price">
                <small>Total:</small>
                <span class="price-currency">$</span>
                <span class="price-value">0.00</span>
              </p>
            </div>
            <div class="btn-group">
              <button class="update-cart" value="{{ item.product.id }}" disabled="true">Update</button>
              <button class="delete-from-cart" value="{{ item.product.id }}">Delete</button>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="no-products-found">No products found</p>    
    {% endfor %}
    </div>
    {% if cart|length > 0 %}
    <div class="summary">
      <div class="break-line"></div>
      <div class="cart-summary">
        <p class="cart-summary__title">Subtotal:</p>
        <p class="cart-item__price price subtotal-price">
          <span class="price-currency">$</span>
          <span class="price-value">{{ cart.total_price }}</span>
        </p>
        <button class="checkout">Checkout</button>
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}