{% extends "../store/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block title %}: {% trans "Password Reset" %}{% endblock %}

{% block main %}

<div class="container form-container">
    <h1 class="form-title">{% trans "Password Reset" %}</h1>

    <p class="secondary-action">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form class="form" method="POST" action="{% url 'account_reset_password' %}">
      {% if form.non_field_errors %}
        <ul class="form-errors">
          {% for error in form.non_field_errors %}
            <li class="form-error">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% csrf_token %}
      <div class="input-group">
      	  <div class="input-group__input">
          	<input type="email" name="email" placeholder="Email" autocomplete="email" required="" />
          </div>
          {% if form.errors.email %}
            <ul class="form-errors">
              {% for error in form.errors.email %}
                <li class="form-error">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
      </div>
      <button class="primary-action" type="submit">{% trans 'Reset My Password' %}</button>
    </form>
</div>

{% endblock %}