{% extends "./base_message.html" %}
{% load account %}
{% load i18n %}

{% block content %}
{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}

<table class="content-table" style="margin: 0;padding: 20px 5px;border: 0;">
	<tr class="content-table-row" style="margin: 0;padding: 0;border: 0;">
		<td style="margin: 0;padding: 0;border: 0;">
			<p style="margin: 0 0 10px;padding: 0;border: 0;">
				You're receiving this e-mail because you or someone else has requested a password for your user account.
			</p>
			<p style="margin: 0 0 10px;padding: 0;border: 0;">
				It can be safely ignored if you did not request a password reset. Click <a href="{{ password_reset_url }}" target="_blank" style="margin: 0;padding: 0;border: 0;color: #3e5de8;">here</a> to reset your password.
			</p>
		</td>
	</tr>
</table>

{% endblocktrans %}
{% endautoescape %}
{% endblock %}
