{% extends "../base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block main %}

	<div class="container">

		<div class="greeting-section">
			<h1>Buy something here</h1>
			<p>Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
		</div>

		{% include '../snippets/pagination.html' %}
		{% include './snippets/products.html' %}
		{% include '../snippets/pagination.html' %}
	</div>

{% endblock %}