{% extends "./base.html" %}
{% load static %}

{% block title %}: {{ product.product_name }}{% endblock %}

{% block main %}
	
    <div class="container">
        <div class="product-details">
            <div class="product-details__image">
                <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
            </div>
            <div class="product-details__left">
                <h1 class="product-details__title">{{ product.product_name }}</h1>
                <p class="product-details__description">{{ product.description }}</p>
                <div class="product-details__buy">
                    <p class="product-details__price price flex">
                        <span class="price-currency">$</span>
                        <span class="price-value">{{ product.price }}</span>
                    </p>
                    <input class="qty" type="number" value=1 />
                    <p class="product-details__price price total-price">
                        <small>Total:</small>
                        <span class="price-currency">$</span>
                        <span class="price-value">0.0</span>
                    </p>
                    <button class="add-to-cart" value="{{ product.id }}">Add to cart</button>
                </div> 
            </div>
        </div>
    </div>

{% endblock %}